
body{
    font-family: Arial;
    font-size: 13px;
    float: left;
}

.col50R{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}


.col50{
    width: 50%;
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
}



table.pap_desc {
    padding-left: 0px;
}


.header_pap{
    font-size: 13px;
}

.comanda{
    border: red 3px solid;
    color: blue;
}

.titulo {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

table.minimalistBlack {
    border: 2px solid #000000;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.minimalistBlack , table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}
table.minimalistBlack tbody td {
    font-size: 13px;
}
table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}
table.minimalistBlack thead {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}
table.minimalistBlack tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}
table.minimalistBlack tfoot td {
    font-size: 14px;
}

table.table-striped {
    border: 3px solid #000000;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.table-striped td, table.striped th {
    border: 1px solid #000000;
    padding: 5px 4px;
}
table.table-striped tbody td {
    font-size: 13px;
}
table.table-striped thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}
table.table-striped thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
table.table-striped tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 3px solid #000000;
}
table.table-striped tfoot td {
    font-size: 14px;
}

@media print {
    table {page-break-inside: avoid;
        page-break-before: always; }
}