html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.select2-container-multi .select2-choices .select2-search-field input {
    border: 1px solid red;
    background: transparent !important;
    
}

b, strong {
    font-weight: normal;
}

.timeline>li {

     margin-right: 0px; 
    margin-bottom: 1px; 
}

.timeline>li>.timeline-item>.timeline-header {
    padding: 4px;
    text-align: left;
}

.timeline>li>.timeline-item>.time{
    padding: 4px;
}

.timeline>li>.timeline-item>.timeline-body, .timeline>li>.timeline-item>.timeline-footer {
    padding: 4px;
    padding-bottom: 6px;
    text-align: left;
}

#historialPacientePanel.panel-body {
    padding: 5px;
    padding-top: 10px;
}

.timeline>li>.timeline-item {
    /* -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.1); */
    border-radius: 0px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 50px;
    margin-right: 0px; 
    padding: 0;
    position: relative;
}

.form-group {
    margin-bottom: 8px; 
}

.help-block {
     margin-bottom: 5px;
}

.modal.in .modal-dialog {
     overflow-y: initial !important;
}

#modalContentAutotexto{
  height: 500px;
  overflow-y: auto;
  padding: 10px;
}

.modal-autotexto{
    padding: 0px;
}

.btn-app2 {
    border-radius: 20px;
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #3d9970;
    font-size: 10px;
    padding: 3px 6px;
}